@import '../node_modules/normalize-scss/sass/normalize/import-now';

:root {
  --main-font: 'Roboto', sans-serif;

  --white: #ffffff;
  --black: #000000;
  --main-bg: #050c05;
  --btn-bg: #00520f;
  --btn-bg-hover: #00981c;
  --text-color: #d0d0d0;
  --hover-text: #001708;
  --button: #024018;
  --error: #ff0000;
  --box-shadow: #05360e;

  //adminka
  --bg-admin: rgba(255, 255, 255, 0.1);
  --color-tabs: #aaaaaa;
  --color-item: #bbbbbb;
  --bg-card: rgba(2, 62, 58, 0.476);
  --bg-eye: rgb(4, 174, 47);
  --bg-radio: rgb(255, 255, 255);

  // transition variable

  --duration: 300ms;
  --animation-name: ease-in-out;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-bg);

  &::-webkit-scrollbar {
    width: 0em;
    position: absolute;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-tabs);
    border-radius: 5px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  box-sizing: inherit;
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol,
li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: inherit;
  font-size: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

#__next {
  min-height: 100vh;
  display: grid;
  grid-auto-rows: auto 1fr auto;
}
